body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    color: #66BfBf;
    margin:  50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 500%;
   
}
hr{
    border-style: dotted none none;
    border-color: gray;
    border-width: 5px;
    height: 3px;
    width: 5%;
    overflow: visible;
    margin: 100px auto 100px auto;
}
h2{
    color: #66BfBf;
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
} 
h3{
    color: #11999F;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}
p{
    line-height: 2;
    font-size: 1rem;
}
.coding{
    height: 15%;
    width: 25%;
    margin: 10px auto 0 auto;
    
    margin-right: 30px;
}
.intro{
    margin: auto;
    width: 30%;
}

.top-container{
    background-color:#E4F9F5;
    position: relative;
    padding-top: 100px;
}
.top-cloud{
    position: relative;
    left: 250px;
    top: 30px;

}
.bottom-cloud{
    position: absolute;
}
.food{
    width: 25%;
    margin: 5px auto 10px auto;
    float: left;
    margin-right: 30px;

}
.panda{
    width: 25%;
    margin: 10px auto 10px auto;
    float: right;
    margin-left: 30px;
}
.skill-row{
    width: 50%;
    margin: 30px auto 50px auto;
    line-height: 2;
}
.middle-container{
    margin: 100px 0;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: #66BfBf;
    background-image: -webkit-linear-gradient(top, #66BfBf, #526e6e);
    background-image: -moz-linear-gradient(top, #66BfBf, #526e6e);
    background-image: -ms-linear-gradient(top, #66BfBf, #526e6e);
    background-image: -o-linear-gradient(top, #66BfBf, #526e6e);
    background-image: linear-gradient(to bottom, #66BfBf, #526e6e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    font-size: 21px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #66BfBf;
    background-image: -webkit-linear-gradient(top, #66BfBf, #39cccc);
    background-image: -moz-linear-gradient(top, #66BfBf, #39cccc);
    background-image: -ms-linear-gradient(top, #66BfBf, #39cccc);
    background-image: -o-linear-gradient(top, #66BfBf, #39cccc);
    background-image: linear-gradient(to bottom, #66BfBf, #39cccc);
    text-decoration: none;
  }
  .bottom-container{
    background-color: #E4F9F5;
    padding: 50px 0 20px;
  }
  a{
    color: #4ba8ac;
    font-family: 'Merriweather', serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  a:hover{
    color: #132828;
  }
  .copyright{
    color: #132828;
    font-size: 0.75rem;
    padding: 20px 0;
  }